/* game board table */
#board {
  padding-top: 100px;
  margin: 0 auto;

}

#board td {
  background-color: skyblue;
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  background-color: palegoldenrod;
  border: solid grey;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#column-top td:hover {
  background-color: salmon;
}

.p1 {
  margin: 0 auto;
  align-self: center;
  width: 40px;
  height: 40px;
  background-color: salmon;
  border-radius: 20em;
}
.p2 {
  margin: 0 auto;
  align-self: center;
  width: 40px;
  height: 40px;
  background-color: teal;
  border-radius: 20em;
}